<div style="margin:10px;">
    Photolocation will prompt you to upload an image of the individual in need. There are two ways of uploading an image:
    <ol>
        <li>Drag and Drop the photo in the application or</li>
        <li>Click the “Provide Image” button and manually select the image. Once the image has been selected, click the “Upload” button to send it to our server. </li>
    </ol>
    There are additional fields that you can fill out in order to clarify any minor details about the person you are helping. Thank you for taking the time to help out those in need. Every photo can change a life!
</div>