<div fxLayout="column" fxLayoutAlign="start center" style="margin:10px;">
    <p>
        Homelessness is an issue that many people face across the world. Most will look at those whom are homeless and be either too afraid to intervene or simply unwilling to put forth the time. Photolocation aims to mitigate this issue and help those in need.
        In the current age of technology, millions of people have quick access to smartphones and the internet. With our convenient web-browser application, anyone can simply photograph a homeless individual and tag his or her location. There are options
        to add additional information about the individual. Knowing the location of those in need will allow other agencies to intervene and help out, while also providing metrics that will assist those agencies with furthering their research into helping
        the cause. We look forward to all future endeavors to combat homelessness.
    </p>
</div>