<md-sidenav-container fxLayout="column" fxFlex>

    <md-sidenav #sidenav mode="side">
        Hey
    </md-sidenav>

    <!--Rest of the content-->
    <div fxLayout="column" fxFlex>

        <md-toolbar fxLayout="column">
            <button md-raised-button (click)="sidenav.toggle()">
              <md-icon>home</md-icon>
            </button>
        </md-toolbar>

        <div fxLayout="column" fxFlex>
            <router-outlet></router-outlet>
        </div>

    </div>

</md-sidenav-container>