<md-sidenav-container fxLayout="column" fxFlex>

    <md-sidenav #sidenav mode="side">
        <div fxLayout="column" fxLayoutAlign="start center" style="min-width: 150px;">
            <h3>Menu</h3>
            <button md-button routerLink="/" (click)="sidenav.toggle()">Home</button>
            <button md-button routerLink="/about" (click)="sidenav.toggle()">About</button>
            <button md-button routerLink="howto" (click)="sidenav.toggle()">How To</button>
            <button md-button routerLink>More Info</button>
            <div fxFlex></div>
            <!--<small>
      <a href="https://github.com/EliCDavis">Eli Davis</a> - 
      <a href="http://joshua.church">Joshua Church</a> - 
      <a href="https://github.com/ChandlerRDill">Chandler Dill</a>
    </small>-->
        </div>
    </md-sidenav>

    <div fxLayout="column" fxFlex>

        <app-toolbar></app-toolbar>

        <button id="sidenav-button" md-mini-fab (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>

        <div fxLayout="column" fxFlex>
            <router-outlet></router-outlet>
        </div>

    </div>

</md-sidenav-container>