/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();
html {
    height: 100%;
    display: flex;
}

app-root,
app-home,
app-map,
app-homeless-listing,
app-homeless-map,
body {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex: 1 1 1e-09px;
    -webkit-box-flex: 1;
    margin: 0
}

.mat-toolbar {
    background-color: #4a525c;
}