<div fxLayoutAlign="start center" fxFlex fxLayout="column">
    <div fxFlex></div>
    <img style="width: 60%;" src="http://localhost:4200/assets/L-Muteh-Logo-Black.png">
    <h2>{{appName}}</h2>
    <button (click)="recordSighting()" md-raised-button>Record Sighting</button>
    <div fxFlex></div>
    <small>
      <a href="https://github.com/EliCDavis">Eli Davis</a> - 
      <a href="http://joshua.church">Joshua Church</a> - 
      <a href="https://github.com/ChandlerRDill">Chandler Dill</a>
    </small>
</div>